<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>RAMI4.0 : Integration Layer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>RAMI4.0 : Integration Layer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-584779ff184548ae9988523d7d35e12d.png" alt="RAMI4.0 : Integration Layer" usemap="#id-584779ff184548ae9988523d7d35e12dmap"/>
			   <map name="id-584779ff184548ae9988523d7d35e12dmap">
				          <area shape="rect" coords="1426,12,1582,1488" href="../objects/id-5d59a1b121b046b6ab0c844830ad8fd3.html" target="element" >
				          <area shape="rect" coords="142,12,322,1488" href="../objects/id-aa4c9b11131b486e964774af29319eb2.html" target="element" >
				          <area shape="rect" coords="10,10,118,1488" href="../objects/id-bc8747a75770492d943da6a37e234e53.html" target="element" >
				          <area shape="rect" coords="382,60,1331,200" href="../objects/id-bc1fec8e0718436e95f2560176326426.html" target="element" >
				          <area shape="rect" coords="382,228,1331,368" href="../objects/id-88471f94d4d54e2d906d7152d98ff888.html" target="element" >
				          <area shape="rect" coords="382,384,1331,481" href="../objects/id-f409cc6387f44f1f939466a38848ad4f.html" target="element" >
				  				<area shape="rect" coords="802,540,922,595" href="../elements/id-fcf2978ad06a40b4b35e46d9ea980431.html"  target="element">

				          <area shape="rect" coords="382,504,1331,612" href="../objects/id-43a27e5dd3764907ae86c3b25d4abb7d.html" target="element" >
				  				<area shape="rect" coords="982,774,1102,829" href="../elements/id-daf1f027c0b341c68842573e01bdc388.html"  target="element">
				  				<area shape="rect" coords="598,774,718,829" href="../elements/id-a1356a291252472ea362778bd9183eb5.html"  target="element">

				          <area shape="rect" coords="382,624,1343,1009" href="../objects/id-6e6d93f1c45143eaabcbea81f2fd4502.html" target="element" >
				          <area shape="rect" coords="381,1176,1343,1477" href="../objects/id-61d6d46a1e774eeca1d4ab623fc91325.html" target="element" >
				  		        <area shape="rect" coords="382,1020,1343,1153" href="../objects/id-390509809bc1469cafb59a28ba0dda2f.html" target="element" >

				          <area shape="rect" coords="346,12,1390,1488" href="../objects/id-d04d11e80ffb44b681fd54eef5e4018d.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">https://www.phoenixcontact.com/assets/images_ed/global/web_content_graph/pic_con_a_0074102_en.jpg</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d04d11e80ffb44b681fd54eef5e4018d.html" target="element"> Instance - Production </a> </td>
									           <td> <a href="../objects/id-d04d11e80ffb44b681fd54eef5e4018d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-390509809bc1469cafb59a28ba0dda2f.html" target="element"> Field Device </a> </td>
											           <td> <a href="../objects/id-390509809bc1469cafb59a28ba0dda2f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-61d6d46a1e774eeca1d4ab623fc91325.html" target="element"> Product </a> </td>
									           <td> <a href="../objects/id-61d6d46a1e774eeca1d4ab623fc91325.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-6e6d93f1c45143eaabcbea81f2fd4502.html" target="element"> Control Device </a> </td>
									           <td> <a href="../objects/id-6e6d93f1c45143eaabcbea81f2fd4502.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element"> Robot AAS </a> </td>
													    <td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-daf1f027c0b341c68842573e01bdc388.html" target="element"> Conveyor AAS </a> </td>
													    <td> <a href="../elements/id-daf1f027c0b341c68842573e01bdc388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-43a27e5dd3764907ae86c3b25d4abb7d.html" target="element"> Station </a> </td>
									           <td> <a href="../objects/id-43a27e5dd3764907ae86c3b25d4abb7d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-fcf2978ad06a40b4b35e46d9ea980431.html" target="element"> Workplace-1 AAS </a> </td>
													    <td> <a href="../elements/id-fcf2978ad06a40b4b35e46d9ea980431.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-f409cc6387f44f1f939466a38848ad4f.html" target="element"> Workcenter </a> </td>
									           <td> <a href="../objects/id-f409cc6387f44f1f939466a38848ad4f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-88471f94d4d54e2d906d7152d98ff888.html" target="element"> Enterprise </a> </td>
									           <td> <a href="../objects/id-88471f94d4d54e2d906d7152d98ff888.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bc1fec8e0718436e95f2560176326426.html" target="element"> Connected World </a> </td>
									           <td> <a href="../objects/id-bc1fec8e0718436e95f2560176326426.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-bc8747a75770492d943da6a37e234e53.html" target="element"> Type - Development </a> </td>
									           <td> <a href="../objects/id-bc8747a75770492d943da6a37e234e53.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-aa4c9b11131b486e964774af29319eb2.html" target="element"> Type - Maintenance &amp; Usage </a> </td>
									           <td> <a href="../objects/id-aa4c9b11131b486e964774af29319eb2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-5d59a1b121b046b6ab0c844830ad8fd3.html" target="element"> Instance - Maintenance &amp; Usage </a> </td>
									           <td> <a href="../objects/id-5d59a1b121b046b6ab0c844830ad8fd3.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>