<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>RAMI4.0 : Information Layer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>RAMI4.0 : Information Layer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8d307590373644398b01eef21f65b101.png" alt="RAMI4.0 : Information Layer" usemap="#id-8d307590373644398b01eef21f65b101map"/>
			   <map name="id-8d307590373644398b01eef21f65b101map">
				          <area shape="rect" coords="1426,12,1582,1488" href="../objects/id-908d3ab3dff14e229856b0ab2121ad8c.html" target="element" >
				          <area shape="rect" coords="142,12,322,1488" href="../objects/id-7fbb0941629e44e28056df7c8b7087fa.html" target="element" >
				          <area shape="rect" coords="10,10,118,1488" href="../objects/id-7b44d309e13740f2bd089a35275ee821.html" target="element" >
				          <area shape="rect" coords="382,60,1331,200" href="../objects/id-a1e3b37cf2e54a81ac22694d2312311e.html" target="element" >
				          <area shape="rect" coords="382,228,1331,368" href="../objects/id-c1d9b6e13111426b95cb190b6101c14b.html" target="element" >
				  				<area shape="rect" coords="814,408,934,463" href="../elements/id-87a377dc117347d48e2bf674b37a54a5.html"  target="element">

				          <area shape="rect" coords="382,384,1331,481" href="../objects/id-468935e48ee64684b75a8f09b9d6f7a6.html" target="element" >
				  				<area shape="rect" coords="814,540,934,595" href="../elements/id-fcf2978ad06a40b4b35e46d9ea980431.html"  target="element">

				          <area shape="rect" coords="382,504,1331,612" href="../objects/id-1f26c957f03b455bbdde0d2f5af9626d.html" target="element" >
				  				<area shape="rect" coords="1102,756,1222,811" href="../elements/id-daf1f027c0b341c68842573e01bdc388.html"  target="element">
				  				<area shape="rect" coords="574,744,694,799" href="../elements/id-a1356a291252472ea362778bd9183eb5.html"  target="element">

				          <area shape="rect" coords="382,624,1343,836" href="../objects/id-3f4770c180fc47f3bdda48b6547bfc03.html" target="element" >
				          <area shape="rect" coords="382,852,1343,985" href="../objects/id-4aefddd0a11e4034a5f526d2357cc9bf.html" target="element" >
				          <area shape="rect" coords="381,996,1343,1477" href="../objects/id-abcccbc7efdc4e6c8ecebea69c5b7e33.html" target="element" >
				          <area shape="rect" coords="346,12,1390,1488" href="../objects/id-bc9ed0a37f3c4adab600a33fcb712e68.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">https://www.phoenixcontact.com/assets/images_ed/global/web_content_graph/pic_con_a_0074102_en.jpg</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-bc9ed0a37f3c4adab600a33fcb712e68.html" target="element"> Instance - Production </a> </td>
									           <td> <a href="../objects/id-bc9ed0a37f3c4adab600a33fcb712e68.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-abcccbc7efdc4e6c8ecebea69c5b7e33.html" target="element"> Product </a> </td>
									           <td> <a href="../objects/id-abcccbc7efdc4e6c8ecebea69c5b7e33.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-4aefddd0a11e4034a5f526d2357cc9bf.html" target="element"> Field Device </a> </td>
									           <td> <a href="../objects/id-4aefddd0a11e4034a5f526d2357cc9bf.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-3f4770c180fc47f3bdda48b6547bfc03.html" target="element"> Control Device </a> </td>
									           <td> <a href="../objects/id-3f4770c180fc47f3bdda48b6547bfc03.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element"> Robot AAS </a> </td>
													    <td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-daf1f027c0b341c68842573e01bdc388.html" target="element"> Conveyor AAS </a> </td>
													    <td> <a href="../elements/id-daf1f027c0b341c68842573e01bdc388.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-1f26c957f03b455bbdde0d2f5af9626d.html" target="element"> Station </a> </td>
									           <td> <a href="../objects/id-1f26c957f03b455bbdde0d2f5af9626d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-fcf2978ad06a40b4b35e46d9ea980431.html" target="element"> Workplace-1 AAS </a> </td>
													    <td> <a href="../elements/id-fcf2978ad06a40b4b35e46d9ea980431.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-468935e48ee64684b75a8f09b9d6f7a6.html" target="element"> Workcenter </a> </td>
									           <td> <a href="../objects/id-468935e48ee64684b75a8f09b9d6f7a6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-87a377dc117347d48e2bf674b37a54a5.html" target="element"> Presents Factory MES </a> </td>
													    <td> <a href="../elements/id-87a377dc117347d48e2bf674b37a54a5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-c1d9b6e13111426b95cb190b6101c14b.html" target="element"> Enterprise </a> </td>
									           <td> <a href="../objects/id-c1d9b6e13111426b95cb190b6101c14b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a1e3b37cf2e54a81ac22694d2312311e.html" target="element"> Connected World </a> </td>
									           <td> <a href="../objects/id-a1e3b37cf2e54a81ac22694d2312311e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7b44d309e13740f2bd089a35275ee821.html" target="element"> Type - Development </a> </td>
									           <td> <a href="../objects/id-7b44d309e13740f2bd089a35275ee821.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7fbb0941629e44e28056df7c8b7087fa.html" target="element"> Type - Maintenance &amp; Usage </a> </td>
									           <td> <a href="../objects/id-7fbb0941629e44e28056df7c8b7087fa.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-908d3ab3dff14e229856b0ab2121ad8c.html" target="element"> Instance - Maintenance &amp; Usage </a> </td>
									           <td> <a href="../objects/id-908d3ab3dff14e229856b0ab2121ad8c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-dd05be14e3f54a5081b158e8d2421885.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dd05be14e3f54a5081b158e8d2421885.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element"> Robot AAS </a> </td>
																				<td> <a href="../elements/id-87a377dc117347d48e2bf674b37a54a5.html" target="element"> Presents Factory MES </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-11890a4173814c1c8a89af72f5b58a40.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-11890a4173814c1c8a89af72f5b58a40.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-daf1f027c0b341c68842573e01bdc388.html" target="element"> Conveyor AAS </a> </td>
																				<td> <a href="../elements/id-87a377dc117347d48e2bf674b37a54a5.html" target="element"> Presents Factory MES </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-c9bf067055a84744942aaf87bdaaac97.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c9bf067055a84744942aaf87bdaaac97.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-fcf2978ad06a40b4b35e46d9ea980431.html" target="element"> Workplace-1 AAS </a> </td>
																				<td> <a href="../elements/id-87a377dc117347d48e2bf674b37a54a5.html" target="element"> Presents Factory MES </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>