<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>RAMI4.0 : Function Layer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>RAMI4.0 : Function Layer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-922d8abd2c1a4ff98cdd79f4c0cb9cfa.png" alt="RAMI4.0 : Function Layer" usemap="#id-922d8abd2c1a4ff98cdd79f4c0cb9cfamap"/>
			   <map name="id-922d8abd2c1a4ff98cdd79f4c0cb9cfamap">
				          <area shape="rect" coords="1426,12,1582,1488" href="../objects/id-d07f877beb86426e89f0fa6850c0f1aa.html" target="element" >
				  				<area shape="rect" coords="178,660,298,715" href="../elements/id-e7dd71a6ad45458c9ced36da2d20f58d.html"  target="element">

				          <area shape="rect" coords="142,12,322,1488" href="../objects/id-a01a11c5adab460aa8aec95cb1487ecd.html" target="element" >
				          <area shape="rect" coords="10,10,118,1488" href="../objects/id-e2d030a820194889affcbc5c72f32b6f.html" target="element" >
				          <area shape="rect" coords="382,60,1331,200" href="../objects/id-90a9f93898924689af0ce5343bcc78e6.html" target="element" >
				          <area shape="rect" coords="382,228,1331,368" href="../objects/id-e82bfdcd9b6d46ab955947b1002c40db.html" target="element" >
				          <area shape="rect" coords="382,384,1331,481" href="../objects/id-cadd083654ad46f5b2e9724af7584cfd.html" target="element" >
				          <area shape="rect" coords="382,504,1331,612" href="../objects/id-b72418fbb4e243ccb5abc00d5148d551.html" target="element" >
				          <area shape="rect" coords="382,624,1343,836" href="../objects/id-06c5cd7e851d4c2b850f20e70c241ad9.html" target="element" >
				          <area shape="rect" coords="382,852,1343,985" href="../objects/id-f7718cd275e64e3495cb75e860709f58.html" target="element" >
				          <area shape="rect" coords="381,996,1343,1477" href="../objects/id-268da3764ff847329d842bdc18ef4c45.html" target="element" >
				          <area shape="rect" coords="346,12,1390,1488" href="../objects/id-817b278c53614db08fff436ee2857088.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-817b278c53614db08fff436ee2857088.html" target="element"> Instance - Production </a> </td>
									           <td> <a href="../objects/id-817b278c53614db08fff436ee2857088.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-268da3764ff847329d842bdc18ef4c45.html" target="element"> Product </a> </td>
									           <td> <a href="../objects/id-268da3764ff847329d842bdc18ef4c45.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f7718cd275e64e3495cb75e860709f58.html" target="element"> Field Device </a> </td>
									           <td> <a href="../objects/id-f7718cd275e64e3495cb75e860709f58.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-06c5cd7e851d4c2b850f20e70c241ad9.html" target="element"> Control Device </a> </td>
									           <td> <a href="../objects/id-06c5cd7e851d4c2b850f20e70c241ad9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b72418fbb4e243ccb5abc00d5148d551.html" target="element"> Station </a> </td>
									           <td> <a href="../objects/id-b72418fbb4e243ccb5abc00d5148d551.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-cadd083654ad46f5b2e9724af7584cfd.html" target="element"> Workcenter </a> </td>
									           <td> <a href="../objects/id-cadd083654ad46f5b2e9724af7584cfd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e82bfdcd9b6d46ab955947b1002c40db.html" target="element"> Enterprise </a> </td>
									           <td> <a href="../objects/id-e82bfdcd9b6d46ab955947b1002c40db.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-90a9f93898924689af0ce5343bcc78e6.html" target="element"> Connected World </a> </td>
									           <td> <a href="../objects/id-90a9f93898924689af0ce5343bcc78e6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e2d030a820194889affcbc5c72f32b6f.html" target="element"> Type - Development </a> </td>
									           <td> <a href="../objects/id-e2d030a820194889affcbc5c72f32b6f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a01a11c5adab460aa8aec95cb1487ecd.html" target="element"> Type - Maintenance &amp; Usage </a> </td>
									           <td> <a href="../objects/id-a01a11c5adab460aa8aec95cb1487ecd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-e7dd71a6ad45458c9ced36da2d20f58d.html" target="element"> PLCOpen </a> </td>
													    <td> <a href="../elements/id-e7dd71a6ad45458c9ced36da2d20f58d.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-d07f877beb86426e89f0fa6850c0f1aa.html" target="element"> Instance - Maintenance &amp; Usage </a> </td>
									           <td> <a href="../objects/id-d07f877beb86426e89f0fa6850c0f1aa.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>