<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>RAMI4.0 : Architecture View - RobotArm Manifest</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>RAMI4.0 : Architecture View - RobotArm Manifest</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b3ee61cc2a5e463fa5eea7d08486a07a.png" alt="RAMI4.0 : Architecture View - RobotArm Manifest" usemap="#id-b3ee61cc2a5e463fa5eea7d08486a07amap"/>
			   <map name="id-b3ee61cc2a5e463fa5eea7d08486a07amap">
				  						<area shape="rect" coords="429,1394,549,1449" href="../elements/id-506086fbe82f4eec84ee88c93a9a0483.html"  target="element">
				  						<area shape="rect" coords="441,1298,561,1353" href="../elements/id-df43b3cfe1064d3ea81eac522b69a74a.html"  target="element">

				  		        <area shape="rect" coords="117,1250,958,1498" href="../objects/id-0c8f9f2207a344dba76c601ad23aed0b.html" target="element" >
				  						<area shape="rect" coords="682,322,802,377" href="../elements/id-a66d2e935cfb42e5ae5c24599a7368ed.html"  target="element">
				  						<area shape="rect" coords="514,322,634,377" href="../elements/id-1bf1f95f072b4ba0b7c4543370cbd441.html"  target="element">
				  						<area shape="rect" coords="238,310,358,365" href="../elements/id-e3c19190ee3e4b7c830166dec026483e.html"  target="element">

				  		        <area shape="rect" coords="118,250,968,431" href="../objects/id-937669cfd2544b009c39178a2676e05e.html" target="element" >
				  						<area shape="rect" coords="766,130,886,185" href="../elements/id-f82eedc3f7704d01a815e6aa1241c972.html"  target="element">

				  		        <area shape="rect" coords="118,70,980,226" href="../objects/id-a51291d6d3a04312aebe0c9d67a411a6.html" target="element" >
				  						<area shape="rect" coords="308,1070,680,1149" href="../elements/id-a1356a291252472ea362778bd9183eb5.html"  target="element">

				  		        <area shape="rect" coords="116,998,969,1222" href="../objects/id-7b44c68045a04f45a06206edd23ddb1f.html" target="element" >
				  						<area shape="rect" coords="154,830,274,885" href="../elements/id-29821222b22946f081ba94f27c4d9928.html"  target="element">
				  						<area shape="rect" coords="682,818,802,873" href="../elements/id-f2c975019ac14cea92d98b1b57c9030a.html"  target="element">
				  						<area shape="rect" coords="418,830,538,885" href="../elements/id-b3befc44a144480dae98222cd5362bfa.html"  target="element">

				  		        <area shape="rect" coords="118,710,968,975" href="../objects/id-f976615575294189818ba3205ed92639.html" target="element" >
				  						<area shape="rect" coords="680,562,800,617" href="../elements/id-a21fbb0e94c84f14b4ce00c508727425.html"  target="element">

				  		        <area shape="rect" coords="116,466,969,698" href="../objects/id-f0b2aa1dca2a4fa8900722099449cbb4.html" target="element" >

				  		<area shape="rect" coords="10,10,1066,1558" href="../elements/id-e9ebb8f62df74ffaa15d1bfdd4ec3659.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The manifest view shows what interfaces, components and behaviors are exposed by the I4.0 Component to it's environment.
It serves as a contract whereby the I4.0 Component author or vendor will keep the manifest stable. 
Users of the I4.0 Component should only use artefacts and relationships shown in the manifest.
Details can be found in the I4.0 Component Implementation view, though any artefacts on that view should be considerd private and never to be refered from outside, unless they appear in the manifest view as well.
This division also makes manageable the creation of inferred relations between artefacts of the I4.0 Component, as currently tool support for such features is limited and authors should put those relations by hand.
In general, the deferred relations are useful for overviews that do not need the specific details.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e9ebb8f62df74ffaa15d1bfdd4ec3659.html" target="element"> RobotArm - Manifest </a> </td>
											    <td> <a href="../elements/id-e9ebb8f62df74ffaa15d1bfdd4ec3659.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-f0b2aa1dca2a4fa8900722099449cbb4.html" target="element"> Information Layer </a> </td>
											           <td> <a href="../objects/id-f0b2aa1dca2a4fa8900722099449cbb4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-a21fbb0e94c84f14b4ce00c508727425.html" target="element"> Object Dropoff </a> </td>
															    <td> <a href="../elements/id-a21fbb0e94c84f14b4ce00c508727425.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-f976615575294189818ba3205ed92639.html" target="element"> Communication Layer </a> </td>
											           <td> <a href="../objects/id-f976615575294189818ba3205ed92639.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-b3befc44a144480dae98222cd5362bfa.html" target="element"> Robot OPCUA - Server </a> </td>
															    <td> <a href="../elements/id-b3befc44a144480dae98222cd5362bfa.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f2c975019ac14cea92d98b1b57c9030a.html" target="element"> DropOff OPCUA Event </a> </td>
															    <td> <a href="../elements/id-f2c975019ac14cea92d98b1b57c9030a.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-29821222b22946f081ba94f27c4d9928.html" target="element"> Object Displacement Command OPCUA method request </a> </td>
															    <td> <a href="../elements/id-29821222b22946f081ba94f27c4d9928.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-7b44c68045a04f45a06206edd23ddb1f.html" target="element"> Integration Layer </a> </td>
											           <td> <a href="../objects/id-7b44c68045a04f45a06206edd23ddb1f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element"> Robot AAS </a> </td>
															    <td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-a51291d6d3a04312aebe0c9d67a411a6.html" target="element"> Business Layer </a> </td>
											           <td> <a href="../objects/id-a51291d6d3a04312aebe0c9d67a411a6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-f82eedc3f7704d01a815e6aa1241c972.html" target="element"> Robot as-a-service </a> </td>
															    <td> <a href="../elements/id-f82eedc3f7704d01a815e6aa1241c972.html" target="element" class="i18n-elementtype-Product"> </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-937669cfd2544b009c39178a2676e05e.html" target="element"> Function Layer </a> </td>
											           <td> <a href="../objects/id-937669cfd2544b009c39178a2676e05e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-e3c19190ee3e4b7c830166dec026483e.html" target="element"> Object Polar Displacement Trigger </a> </td>
															    <td> <a href="../elements/id-e3c19190ee3e4b7c830166dec026483e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1bf1f95f072b4ba0b7c4543370cbd441.html" target="element"> Robot Remote Control Service </a> </td>
															    <td> <a href="../elements/id-1bf1f95f072b4ba0b7c4543370cbd441.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-a66d2e935cfb42e5ae5c24599a7368ed.html" target="element"> Object Dropoff Notification </a> </td>
															    <td> <a href="../elements/id-a66d2e935cfb42e5ae5c24599a7368ed.html" target="element" class="i18n-elementtype-ApplicationEvent"> </a> </td>
															</tr>

													
											        <tr>
											           <td> <a href="../objects/id-0c8f9f2207a344dba76c601ad23aed0b.html" target="element"> Asset Layer </a> </td>
											           <td> <a href="../objects/id-0c8f9f2207a344dba76c601ad23aed0b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/id-df43b3cfe1064d3ea81eac522b69a74a.html" target="element"> Robot-1 </a> </td>
															    <td> <a href="../elements/id-df43b3cfe1064d3ea81eac522b69a74a.html" target="element" class="i18n-elementtype-Equipment"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-506086fbe82f4eec84ee88c93a9a0483.html" target="element"> Object Polar Displacement </a> </td>
															    <td> <a href="../elements/id-506086fbe82f4eec84ee88c93a9a0483.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-8bfaed9d708f45c9890354567e009602.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8bfaed9d708f45c9890354567e009602.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/id-b3befc44a144480dae98222cd5362bfa.html" target="element"> Robot OPCUA - Server </a> </td>
																						<td> <a href="../elements/id-1bf1f95f072b4ba0b7c4543370cbd441.html" target="element"> Robot Remote Control Service </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-b786b2d1b24249cc849323e131093833.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b786b2d1b24249cc849323e131093833.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/id-b3befc44a144480dae98222cd5362bfa.html" target="element"> Robot OPCUA - Server </a> </td>
																						<td> <a href="../elements/id-e3c19190ee3e4b7c830166dec026483e.html" target="element"> Object Polar Displacement Trigger </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-f0270d3334d249a19e30f33fbafd85f0.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-f0270d3334d249a19e30f33fbafd85f0.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/id-b3befc44a144480dae98222cd5362bfa.html" target="element"> Robot OPCUA - Server </a> </td>
																						<td> <a href="../elements/id-a66d2e935cfb42e5ae5c24599a7368ed.html" target="element"> Object Dropoff Notification </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-e7cce7ac31664640b30bd4fde8859b7a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e7cce7ac31664640b30bd4fde8859b7a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/id-b3befc44a144480dae98222cd5362bfa.html" target="element"> Robot OPCUA - Server </a> </td>
																						<td> <a href="../elements/id-f2c975019ac14cea92d98b1b57c9030a.html" target="element"> DropOff OPCUA Event </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-73797fa4e4b2461db71d84d9a589ade5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-73797fa4e4b2461db71d84d9a589ade5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/id-b3befc44a144480dae98222cd5362bfa.html" target="element"> Robot OPCUA - Server </a> </td>
																						<td> <a href="../elements/id-29821222b22946f081ba94f27c4d9928.html" target="element"> Object Displacement Command OPCUA method request </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-912856080cb044aeb510ae63a8072ada.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-912856080cb044aeb510ae63a8072ada.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-f2c975019ac14cea92d98b1b57c9030a.html" target="element"> DropOff OPCUA Event </a> </td>
																						<td> <a href="../elements/id-a21fbb0e94c84f14b4ce00c508727425.html" target="element"> Object Dropoff </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-e1c3423dab434c93ba2cd5a1048879d1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e1c3423dab434c93ba2cd5a1048879d1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-29821222b22946f081ba94f27c4d9928.html" target="element"> Object Displacement Command OPCUA method request </a> </td>
																						<td> <a href="../elements/id-e3c19190ee3e4b7c830166dec026483e.html" target="element"> Object Polar Displacement Trigger </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-392d2b3d29a94789928871b180d8b757.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-392d2b3d29a94789928871b180d8b757.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element"> Robot AAS </a> </td>
																						<td> <a href="../elements/id-1bf1f95f072b4ba0b7c4543370cbd441.html" target="element"> Robot Remote Control Service </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-25afb8acd210484b8d030e8e4ac812b6.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-25afb8acd210484b8d030e8e4ac812b6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element"> Robot AAS </a> </td>
																						<td> <a href="../elements/id-e3c19190ee3e4b7c830166dec026483e.html" target="element"> Object Polar Displacement Trigger </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-89fb6906a2d44063add239020bff3ea3.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-89fb6906a2d44063add239020bff3ea3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element"> Robot AAS </a> </td>
																						<td> <a href="../elements/id-a66d2e935cfb42e5ae5c24599a7368ed.html" target="element"> Object Dropoff Notification </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-8b2c12a983e94e00b74ea7292243243f.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8b2c12a983e94e00b74ea7292243243f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element"> Robot AAS </a> </td>
																						<td> <a href="../elements/id-df43b3cfe1064d3ea81eac522b69a74a.html" target="element"> Robot-1 </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-afff9355eca141bba5bd3acdb31dc4eb.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-afff9355eca141bba5bd3acdb31dc4eb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/id-a1356a291252472ea362778bd9183eb5.html" target="element"> Robot AAS </a> </td>
																						<td> <a href="../elements/id-b3befc44a144480dae98222cd5362bfa.html" target="element"> Robot OPCUA - Server </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-2e7e5048648749db8c502d61d1dd8ab8.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-2e7e5048648749db8c502d61d1dd8ab8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/id-f82eedc3f7704d01a815e6aa1241c972.html" target="element"> Robot as-a-service </a> </td>
																						<td> <a href="../elements/id-1bf1f95f072b4ba0b7c4543370cbd441.html" target="element"> Robot Remote Control Service </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-6a5fa9579ffc4695905ebad51c59e1d3.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6a5fa9579ffc4695905ebad51c59e1d3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/id-f82eedc3f7704d01a815e6aa1241c972.html" target="element"> Robot as-a-service </a> </td>
																						<td> <a href="../elements/id-506086fbe82f4eec84ee88c93a9a0483.html" target="element"> Object Polar Displacement </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-7289484b53ed49d793c0a75de4e0f63b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-7289484b53ed49d793c0a75de4e0f63b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																						<td> <a href="../elements/id-f82eedc3f7704d01a815e6aa1241c972.html" target="element"> Robot as-a-service </a> </td>
																						<td> <a href="../elements/id-e3c19190ee3e4b7c830166dec026483e.html" target="element"> Object Polar Displacement Trigger </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-b4669d24b5624e25b14a2a9cfd50a771.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b4669d24b5624e25b14a2a9cfd50a771.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/id-e3c19190ee3e4b7c830166dec026483e.html" target="element"> Object Polar Displacement Trigger </a> </td>
																						<td> <a href="../elements/id-506086fbe82f4eec84ee88c93a9a0483.html" target="element"> Object Polar Displacement </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-b98fa595f59c4421939d3296bd46d681.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-b98fa595f59c4421939d3296bd46d681.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/id-a66d2e935cfb42e5ae5c24599a7368ed.html" target="element"> Object Dropoff Notification </a> </td>
																						<td> <a href="../elements/id-a21fbb0e94c84f14b4ce00c508727425.html" target="element"> Object Dropoff </a> </td>
																					</tr>

													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/id-8e1fb14a64634283a0e248db1f083d54.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8e1fb14a64634283a0e248db1f083d54.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-df43b3cfe1064d3ea81eac522b69a74a.html" target="element"> Robot-1 </a> </td>
																						<td> <a href="../elements/id-506086fbe82f4eec84ee88c93a9a0483.html" target="element"> Object Polar Displacement </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-e7c74139fde241998daad73f6f3c0f68.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e7c74139fde241998daad73f6f3c0f68.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/id-506086fbe82f4eec84ee88c93a9a0483.html" target="element"> Object Polar Displacement </a> </td>
																						<td> <a href="../elements/id-a66d2e935cfb42e5ae5c24599a7368ed.html" target="element"> Object Dropoff Notification </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>