<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>RAMI4.0 : Information Layer</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>RAMI4.0 : Information Layer</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e9f20db6170b43edafafe86196a135a0.png" alt="RAMI4.0 : Information Layer" usemap="#id-e9f20db6170b43edafafe86196a135a0map"/>
			   <map name="id-e9f20db6170b43edafafe86196a135a0map">
				          <area shape="rect" coords="1522,12,1678,1488" href="../objects/id-47683da338274d758b3e229302c987d1.html" target="element" >
				  				<area shape="rect" coords="262,372,419,1212" href="../elements/id-4f50a9cbe9414a4ca48ac8c2f682f304.html"  target="element">

				          <area shape="rect" coords="214,12,442,1488" href="../objects/id-a6e750c360954ae294533d5b5f4bce9e.html" target="element" >
				          <area shape="rect" coords="10,10,190,1488" href="../objects/id-ae2882f144c74ffe9ed93de293f16b82.html" target="element" >
				          <area shape="rect" coords="478,60,1427,200" href="../objects/id-172f3096de3f423b999e6e37cec01053.html" target="element" >
				          <area shape="rect" coords="478,228,1427,368" href="../objects/id-facefb05787341cb83860f9001a3b691.html" target="element" >
				          <area shape="rect" coords="478,384,1427,481" href="../objects/id-b2f6a5b4a735456e831c7dfdd8618b93.html" target="element" >
				          <area shape="rect" coords="478,504,1427,612" href="../objects/id-0d31f3afd9fc4490bac8c88e17b06ffd.html" target="element" >
				          <area shape="rect" coords="478,624,1439,836" href="../objects/id-9331313153ec4ecebd577d4e050ca5d6.html" target="element" >
				          <area shape="rect" coords="478,852,1439,985" href="../objects/id-16a4609592b54b10b989f22555f0b30e.html" target="element" >
				          <area shape="rect" coords="477,996,1439,1477" href="../objects/id-0ecb01c648a4475ca739f1ae399ae03c.html" target="element" >
				          <area shape="rect" coords="454,12,1486,1488" href="../objects/id-3099bf72510d4948985badc6ff9de60c.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-3099bf72510d4948985badc6ff9de60c.html" target="element"> Instance - Production </a> </td>
									           <td> <a href="../objects/id-3099bf72510d4948985badc6ff9de60c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0ecb01c648a4475ca739f1ae399ae03c.html" target="element"> Product </a> </td>
									           <td> <a href="../objects/id-0ecb01c648a4475ca739f1ae399ae03c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-16a4609592b54b10b989f22555f0b30e.html" target="element"> Field Device </a> </td>
									           <td> <a href="../objects/id-16a4609592b54b10b989f22555f0b30e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-9331313153ec4ecebd577d4e050ca5d6.html" target="element"> Control Device </a> </td>
									           <td> <a href="../objects/id-9331313153ec4ecebd577d4e050ca5d6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-0d31f3afd9fc4490bac8c88e17b06ffd.html" target="element"> Station </a> </td>
									           <td> <a href="../objects/id-0d31f3afd9fc4490bac8c88e17b06ffd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-b2f6a5b4a735456e831c7dfdd8618b93.html" target="element"> Workcenter </a> </td>
									           <td> <a href="../objects/id-b2f6a5b4a735456e831c7dfdd8618b93.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-facefb05787341cb83860f9001a3b691.html" target="element"> Enterprise </a> </td>
									           <td> <a href="../objects/id-facefb05787341cb83860f9001a3b691.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-172f3096de3f423b999e6e37cec01053.html" target="element"> Connected World </a> </td>
									           <td> <a href="../objects/id-172f3096de3f423b999e6e37cec01053.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ae2882f144c74ffe9ed93de293f16b82.html" target="element"> Type - Development </a> </td>
									           <td> <a href="../objects/id-ae2882f144c74ffe9ed93de293f16b82.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a6e750c360954ae294533d5b5f4bce9e.html" target="element"> Type - Maintenance &amp; Usage </a> </td>
									           <td> <a href="../objects/id-a6e750c360954ae294533d5b5f4bce9e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-4f50a9cbe9414a4ca48ac8c2f682f304.html" target="element"> Collada </a> </td>
													    <td> <a href="../elements/id-4f50a9cbe9414a4ca48ac8c2f682f304.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-47683da338274d758b3e229302c987d1.html" target="element"> Instance - Maintenance &amp; Usage </a> </td>
									           <td> <a href="../objects/id-47683da338274d758b3e229302c987d1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>